<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout patter="%d{yyyy-MMM-dd HH:mm:cc} [%t] %-5level %-50c{1.} - %msg %n" />
        </Console>
        <File name="File" fileName="Products.log">
            <PatternLayout patter="$d [%t] %-5level% %-50c{1.} - %msg %n" />
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>